.card {
  border-radius: 8px;
  padding: 5px;
}



/* User Profile Card */
/* .card-user {
    background-color: #add8e6;
    color: rgb(0, 0, 0);
  } */
  
  /* Favorite Team Card */
  /* .card-favorite {
    background-color: #00008b;
  } */
  
  /* Add Admired Player Card */
  /* .card-addAdmired {
    background-color: #E6EAF2;
    color: #000000;
  } */
  
  /* Admired Players Card */
  /* .card-admired {
    background-color: #006400;
    color: rgb(0, 0, 0);
  } */
  