.card {
  border-radius: 8px;
  padding: 5px;
}

.text-shadow {
  text-shadow: 2px 2px 4px #1E4C89;
}

.subtle-animation {
  transition: transform 0.2s ease-in-out;
}
  
.subtle-animation:hover {
  transform: scale(1.05);
}
